.header{

    display: flex;
    justify-content: space-between;
    padding:0 1em;
    align-items: center;
    .fa-bars{
        cursor: pointer;
        color:white;
        display: none;
        @media only screen and (max-width: 900px) {
            display: flex;
        }
              
    }
    .search_bar{
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.061);
    display: flex;
    justify-content: space-between;
        border-radius: 2em;
        padding:.6em 1em ;
        // @media only screen and (max-width: 900px) {
        //     width: 40%;
        // }
        
        width: 40%;
        background: rgba(255, 255, 255, 0.883);
        input{
border: none;
outline: none;
background: transparent;
        }
        svg.fa-search{
            // margin-right: .5em;
            display: inline-block;
color: rgb(83, 83, 83);
        }
    }

    nav.nav{
        ul{
        display: flex;
        align-items: center;
        gap: 1em;
        li{
            position: relative;
            .badge{
                display: grid;
                border-radius: 50%;
                place-content: center;
                position: absolute;
                right: -.3em;
                color:white;
                font-size: small;
                top:-.7em;
                padding: .8em;
                width:1em;
                height:1em;
                background: deepskyblue;
            }
            a{
                // padding: .8em;
                display: grid;
                place-content: center;
                width:2.5em;
                height:2.5em;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.856);
                &.profile{
                padding:0;
                background:transparent;
                img{
                    border:3px solid rgb(255, 255, 255);
                    border-radius: 50%;
                    background-size: cover;
                    width:2.5em;
                    height:2.5em;
                }
            }
                svg{
                    color: rgb(63, 81, 181);

                }
            }
        }
        }
        
    }
}